[data-section="1"] {
  --section-color: var(--section-1);
}

[data-section="2"] {
  --section-color: var(--section-2);
}

[data-section="2"] .section-divider {
  background-color: var(--hill-near);
}

[data-section="3"] {
  --section-color: var(--section-3);
}

[data-section="3"] .section-divider {
  background-color: var(--section-2);
}

[data-section="4"] {
  --section-color: var(--section-4);
}

.page-section {
  background: var(--section-color);
  position: relative;
  width: 100%;
}

.section-divider {
  display: block;
  width: 100%;
}

.section-divider svg {
  display: block;
  width: 100%;
  height: 10dvh;
}
