nav {
  --bg-alpha: 60%;
  --border-alpha: 80%;
}

.nav-link {
  padding-inline: 0.5rem;
  padding-block: 0.75rem;
}

.nav-menu {
  padding-inline: 0.5rem;
  padding-block: 0.75rem;
  margin-top: 0.5rem;
  border-radius: var(--border-radius);
  background: color-mix(in srgb, var(--sky-top) 70%, var(--card-bg) 20%);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(250, 250, 250, 0.5),
    inset 0 -1px 0 rgba(250, 250, 250, 0.1),
    inset 0 0 26px 13px rgba(250, 250, 250, 0.13);
  backdrop-filter: blur(10px);
  transition: background var(--bgc-transition-speed)
    var(--bgc-transition-easing);
  align-items: stretch;
}

.nav-menu li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: stretch;
}

@media (prefers-contrast: more) {
  .nav-menu {
    box-shadow: none;
    border: 2px solid var(--contrast-border-color);
    backdrop-filter: none;
  }

  .nav-menu li a {
    border: 2px solid var(--contrast-border-color);
  }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  .nav-menu {
    border-color: var(--contrast-border-color-dark);
    backdrop-filter: none;
  }
}

@media (prefers-reduced-transparency: reduce) {
  .nav-menu {
    background: var(--sky-top);
  }
}
