.glass-card {
  padding: 2rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 26px 13px rgba(255, 255, 255, 0.13);
}
